* {
    font-family: 'Open Sans', sans-serif;

}

.topnav {
    display: flex;
    flex-direction: column;
}

.topnav a {
    color: #69696a;
    text-decoration: none;
    font-size: 17px;
    padding-top: 2%;
}

p {
    border-left: solid #69696a;
    padding-left: 7px;
}

h5 {
    text-align: center;
    color: #ddd;
    background-color: #000;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    .topnav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 20px;
        margin: 10px;
    }
    h5 {
        width: 50%;
        margin: 0 auto;
    }
    .navflex {
        display: flex;
        justify-content: space-between;
    }
    a {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    h5 {
        width: 100px;
    }
    
        
}

    @media only screen and (min-width: 992px) {
    a {
        padding-left: 20px;
        padding-right: 20px;
    }
    .scroll-down {
        margin-top: 200px;
    }
    .writing {
        width: 50%;
    }
    .navflex {
        display: flex;
        justify-content: space-between;
    }
    h5 {
        width: 50px;
        padding-left: 55px;
        padding-right: 55px;

    }
    nav {
        display: flex;
    }
    .logo {
        display: flex;
        justify-content: flex-start;
    }
    .topnav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .circles {
        display: flex;
        width: 50%;
        position: absolute;
        float: right;
    }
    .circle {
        line-height: 200px;
        border-radius: 50%;
    }
    
    .first {
    background-color: rgba(247, 136, 167, 0.6);
    width: 200px;
    height: 200px;
    position: absolute;
    left: 138%;
    }
    .second {
    background-color: rgba(207, 130, 213, 0.6);
    width: 120px;
    height: 120px;
    left: 158%;
    top: 50%;
    position: absolute;
    }
    .third {
    background-color: rgba(247, 193, 162, 0.7);
    width: 160px;
    height: 160px;
    position: absolute;
    left: 161%;
    top: 70px;
    }
}